<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rki.yh.cs.stir.ac.uk.unitconvertor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpeedConvertor"
            android:label="@string/title_activity_speed_convertor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EnergyConvertor"
            android:label="@string/title_activity_energy_convertor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LengthConvertor"
            android:label="@string/title_activity_length_convertor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TemperatureConvertor"
            android:label="@string/title_activity_temperature_convertor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeightConvertor"
            android:label="@string/title_activity_weight_convertor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StorageConvertor"
            android:label="@string/title_activity_storage_convertor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>